<!doctype html>
  <head>Hands on 2</head>
  <body>
    {{ range . }}
    <section>
      Name: {{ .Name }}
      Address: {{ .Address }}
      City: {{ .City }}
      Zip: {{ .Zip }}
      Region: {{ .Region }}
    </section>
    {{ end }}
  </body>
</html>
